/* General style */
html,body { height: 100%; margin: 0px; padding: 0px; }

body {
  background: #fac700;
  color: #333;
  font-family: 'Nanum Gothic', sans-serif;
}

/* Grid */
.column {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: stretch;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Elements */
#stats {
  justify-content: center;
}

#logo {
  margin: 20px;
  align-self: center;
}

#small-logo-a {
  margin: 20px;
  align-self: center;
}

#small-logo {
  width: 64px;
}

.title {
  font-size: 32px;
}

.value {
  font-size: 100px;
  color: #fff;
}

.cell {
  text-align: center;
  margin: 20px 100px;
}

button {
  padding: 20px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
}

button:hover {
  background: #444;
}

#join {
  font-size: 24px;
  margin: 10px;
}

input {
  padding: 20px;
  background: #fff;
  color: #333;
  border: none;
  border-radius: 6px;
}

#channel {
  font-size: 24px;
  margin: 10px;
}

#log {
  flex-grow: 1;
  margin: 0px 20px 10px 20px;
  border-radius: 6px;
  background: #333;
  padding: 10px;
  color: #fff;
  overflow-y: scroll;
}

#log > :last-child { padding-bottom: 10px; }

pre {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 18px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.my {
  color: #fac700;
}
.timestamp {
  color: #aaa;
  padding-right: 10px;
}
.content {
  display: inline;
}

#message {
  font-size: 20px;
  margin: 10px 20px 20px 20px;
  flex-grow: 1;
}

#send {
  font-size: 20px;
  margin: 10px 20px 20px 0px;
  width: 64px;
  padding: 10px;
}

#send-icon {
  margin-top: 2px;
  fill: #fff;
  width: 32px;
}

#footer {
  padding-bottom: 40px;
}

/* Helpers */
.nonselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
