<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>STEM: Server</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
</head>
<body class="column">
    <img id="logo" class="nonselectable" src="/static/images/logo.png" alt="STEM logo">
    <div id="stats" class="row">
        <div class="cell">
            <div class="title">ACTIVE CHANNELS</div>
            <div class="value">{{channels}}</div>
        </div>
        <div class="cell">
            <div class="title">ACTIVE SESSIONS</div>
            <div class="value">{{sessions}}</div>
        </div>
    </div>
    <div id="footer" class="row">
        <input id="channel" type="text" name="channel" placeholder="Channel ID">
        <button id="join">JOIN</button>
    </div>
</body>
<script src="/static/js/index.js"></script>
</html>
